body {
  background: #f9fafc;
  font-family: "Open Sans";
}

header {
  display: flex;
  flex-direction: column;
}

nav {
  flex-direction: column;
  padding-left: 15px;
}

h2 {
  margin: 0px;
  padding: 20px 0;
}

a {
  text-decoration: none;
  color: #69696a;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  padding-bottom: 7px;
}

main {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

/* Class styles */

.chirpus {
  padding-left: 15px;
}

.content {
  margin: 0;
  border-left: 2px solid black;
  padding: 0 15px;
}

.button {
  background: #000;
  color: #fff;
  border: none;
  border-radius: 17px;
  height: 35px;
  width: 95%;
  margin-top: 10px;
}

.scroll {
  margin-top: 25px;
}

@media only screen and (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  main {
    flex-direction: row;
  }

  ul {
    display: flex;
    align-items: center;
  }

  li {
    padding: 7px 0 7px 13px;
  }

  .left,
  .right {
    margin-top: 35px;
    width: 50%;
  }

  .button {
    width: auto;
    padding: 0 15px;
  }

  .hire {
    margin-top: 0;
  }

  .scroll {
    position: fixed;
    bottom: 2%;
    left: 50%;
    transform: translatex(-50%);
  }

  .circle {
    border-radius: 50%;
    position: absolute;
  }

  .pink {
    height: 300px;
    width: 300px;
    background: rgba(247, 136, 167, 0.6);
    right: 100px;
    top: 0px;
  }

  .orange {
    height: 200px;
    width: 200px;
    background: rgba(247, 193, 162, 0.7);
    right: 25px;
    top: 170px;
    z-index: 1;
  }

  .purple {
    height: 150px;
    width: 150px;
    background: rgba(207, 130, 213, 0.6);
    right: 0;
    top: 75px;
  }

  .right {
    position: relative;
  }
}
